<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <h3>Here's your translated text:</h3>
    <p><%= @translator.piglatinize(@user_phrase) %></p>
  </body>
</html>
