<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>

    <h3>Welcome to Pig Latinizer!</h3>

    <p>Enter your phrase:</p>
    <form action="/piglatinize" method="POST">
      <p><textarea rows="10" name="user_phrase"></textarea></p>
      <p><input type="Submit" value="Submit"></p>
    </form>
  </body>
</html>
